@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

*,
*:before,
*:after {
  box-sizing: border-box
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent
}
body {
  margin: 0;
  font-family: 'Lato', Courier, monospace;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  background-color: #ffffff
}
body,
.bg {
  height: 100%;
  width: 100%;
  position: relative;
}
.bg {
  background-image: url(../img/bg.png);
  background-size: cover;
  background-position: center center
}

.hero {
  text-shadow: 1px 1px 2px black;
  color: #fff;
  text-align: center;
  position: absolute;
  width: 100%;
  transform: translateY(-40%);
}

/* Larger than mobile */
@media (min-width: 400px) {
  .hero {
    top: 40%;
  }
  .links a {
    display: block;
    margin: 10px auto;
    max-width: 200px;
  }
  .hero-description {
    font-size: 2rem;
    margin-top: 60px;
  }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .links a {
    display: inline-block;
    max-width: 200px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 5px;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  h1 {
    font-size: 5rem;
  }
  h1 strong {
    font-size: 6rem;
  }
  .hero-description {
    font-size: 3rem;
  }
}
